.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  color: white;
  min-height: 10vh;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:40%;
  list-style: none;
}